:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

main {
  margin-left: 400px;
  margin-right: 400px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding-left: 30px;
  padding-right: 30px;
}

article {
  border: groove;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  margin: 10px;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.charts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topArtists {
  height: 300px;
  width: 1000px;
  margin-bottom: 100px;
}

.topSongs {
  height: 300px;
  width: 1000px;
}

.top {
  border: groove;
  height: 299px;
  width: 300px;
}

.topList {
  display: flex;
  flex-direction: column;
}

.creatorContainer {
  display: flex;
  justify-content: center;
}

.creator {
  border: groove;
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
}
