.createPlaylist {
  display: flex;
  justify-content: center;
  .creatorContainer {
    border: groove;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .creator {
    height: 350px;
    width: 600px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    margin-left: 100px;

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;

      button {
        justify-content: center;
      }
    }
  }
  ul {
    list-style: none;
  }

  button.recommendationButton {
    margin-left: 150px;
    justify-content: center;
  }

  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (min-width: 800px) {
  .createPlaylist {
    select {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
    }
  }
}

@media (max-width: 450px) {
  .createPlaylist {
    .seedName {
      max-width: 300px;
    }
    p {
      display: flex;
      flex-direction: column;
    }
    .creator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0px;

      .recommendationButton {
        margin-left: 0px;
      }
    }
    option {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }

    select {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
}
