.header {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-bottom: 10px;
  }

  header h1 {
    font-weight: 900;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

    // border: 8px solid rgb(240, 124, 16);
    border-radius: 12px;
  }

  .navItem {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }

  a:hover {
    color: purple;
  }
}
