ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  padding-left: 30px;
  padding-right: 30px;
}

.charts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.topArtists {
  height: 800px;
  // width: 1000px;
  // margin-bottom: 100px;
}

.topSongs {
  height: 800px;
  // width: 1000px;
}

.topList {
  display: flex;
  flex-direction: column;
  border: groove;
}
