.myCharts {
  // ul {
  //   display: flex;
  //   flex-direction: row;
  //   list-style: none;
  // }
  .topList {
    display: flex;
    flex-direction: column;
    border: groove;
    list-style: inherit;
  }

  // li {
  //   padding-left: 30px;
  //   padding-right: 30px;
  // }

  .chartsSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .topArticle {
    height: 1000px;
    // width: 1000px;
    // margin-bottom: 100px;
  }
}
