@import 'header';
@import 'home';
@import 'myplaylists';
@import 'mycharts';
@import 'createaplaylist';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

main {
  color: white;
  background: rgb(9, 9, 9);
  background: radial-gradient(
    circle,
    rgba(9, 9, 9, 1) 0%,
    rgba(83, 91, 84, 1) 50%,
    rgba(191, 194, 189, 1) 100%
  );
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-content: center;
}

// body {
//   // margin: 0;
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-content: center;
//   min-height: 100%;
// }

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
