@import 'header';
@import 'home';
@import 'myplaylists';
@import 'mycharts';
@import 'createaplaylist';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

main {
  // margin-left: auto;
  // margin-right: auto;
  margin: auto;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-content: center;

  .playlistContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// body {
//   // margin: 0;
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-content: center;
//   min-height: 100%;
// }

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
